<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org">
<body>
<form action="admin" method="post">
  <table>
    <tr><td><label for="username">Username</label>:</td><td><input type="text" id="username" name="username" /></td></tr>
    <tr><td><label for="password">Passwort</label>:</td><td><input type="text" name="password" /></td></tr>
    <tr><td><input type="submit" name="login-submit" id="login-submit" value="login"/></td></tr>
  </table>
</form>
</body>
</html>
